[submodule "lib/libiio"]
	path = lib/libiio
	url = https://github.com/analogdevicesinc/libiio.git
[submodule "lib/liquid-dsp"]
	path = lib/liquid-dsp
	url = https://github.com/jgaeddert/liquid-dsp.git
[submodule "lib/libad9361-iio"]
	path = lib/libad9361-iio
	url = https://github.com/analogdevicesinc/libad9361-iio.git
